<h1>Pedidos</h1>
<br><br>
<div>
    <table class="table table-striped">
        <thead>
            <th>Pedido ID</th>
            <th>Produto ID</th>
            <th>Quantidade</th>
            <th>Valor Total</th>
        </thead>
        <tbody>
            <% for(let i = 0; i<lista.length; i++) { %>
                <tr>
                    <td><%= lista[i].pedidoId %></td>
                    <td><%= lista[i].produtoId %></td>
                    <td><%= lista[i].pedidoItemQuantidade %></td>
                    <td><%= lista[i].pedidoItemValorTotal %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>